{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Home Page" style="width:1100px;height:300px">
</div>
<div>
    <h1 class="text-center my_title">ASD School site</h1>
    <p class="text-justify">ASD school is a flagship institute of the prestigious ASDA Group,Bangalore believes in a holistic.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy</p>
</div>
{% endblock %}